pillow
pillow-avif-plugin
pillow-heif
duckduckgo-search
pycocotools
pascal-voc-writer
joblib
tqdm
imagehash
flask
requests
pandas
scipy
scikit-learn
matplotlib
opencv-python
ffmpeg
libsm6
libxext6
tensorflow==2.8.4
tflite-model-maker
tflite-support
datasets==2.15
ipykernel
numpy==1.23.4
pycocotools
tensorflow-recommenders==0.6.0
protobuf==3.20.*
ai-edge-litert
mediapipe-model-maker

